* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

body {
  background-color: #3a668c;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3 {
  color: #fef5da;
  font-family: "Montserrat", Helvetica, sans-serif;
}

h1,
h3 {
  text-align: center;
}

p {
  font-family: "Lato", Helvetica, sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  height: 85vh;
  justify-content: center;
}

.title {
  align-content: center;
  height: 15%;
  margin-top: 20px;
  text-align: center;
}

.result {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.config {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.volume {
  text-align: center;
}

.video_feed {
  background-color: #000000;
  border-radius: 20px;
  height: 75%;
  overflow: hidden;
  width: 100%;
}

#video_feed {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

#playSoundButton {
  position: fixed;
  right: 0;
  top: 0;
}

.result-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.box {
  align-items: center;
  background-color: #379c54;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  font-family: Montserrat;
  justify-content: center;
  margin-top: 10px;
  min-height: 40px;
  min-width: 80px;
}

.main {
  background-color: #293a49;
  color: #fef5da;
  font-size: 25px;
  min-height: 80px;
  min-width: 160px;
}

.flying-standing {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

footer {
  align-items: center;
  background-color: #fdb92e;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  padding: 20px;
}

footer p {
  color: #293a49;
  font-size: large;
  font-weight: 700;
  margin-left: 20px;
}

.slidecontainer {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-right: 20px;
}

.slider {
  -webkit-appearance: none;
  background: #d3d3d3;
  height: 25px;
  margin-top: 10px;
  opacity: 0.7;
  outline: none;
  transition: opacity 0.2s;
  width: 100%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #04aa6d;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.slider::-moz-range-thumb {
  background: #04aa6d;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.component-title {
  color: #888;
  font-size: 1rem;
  font-weight: 700;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%;
  z-index: 999;
}

.togglebox {
  align-items: center;
  display: flex;
  height: 31px;
  justify-content: center;
  position: relative;
  width: 51px;
}

.checkbox {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.switch {
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  height: 100%;
  transition: background-color 0.2s ease-out;
  width: 100%;
}

.toggle-handle {
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  height: 27px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: all 0.2s ease-out;
  width: 27px;
}

.checkbox:checked + .switch {
  background-color: #34c759;
}

.checkbox:checked + .switch .toggle-handle {
  left: calc(100% - 27px - 2px);
}
