<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/index.css" />
  <title>Real-Time Bird Detection</title>
</head>

<body>
  <div class="container">
    <div class="result">
      <h1 class="title">Real-Time Bird Detection</h1>
      <div class="videoframe">
        <img id="videoframe" src="{{ url_for('video_feed') }}" alt="Video Feed" />
      </div>
      <button id="playSoundButton">Play Sound</button>
    </div>
    <div class="config">
      <div class="result-box">
        <h3>Total No. of Birds</h3>
        <div class="box main" id="totalBirds">0</div>
      </div>
      <div class="flying-standing">
        <div class="result-box">
          <h3>Flying</h3>
          <div class="box" id="flyingBirds">0</div>
        </div>
        <div class="result-box">
          <h3>Standing</h3>
          <div class="box" id="standingBirds">0</div>
        </div>
      </div>
      <div class="volume">
        <h3>Audio Volume</h3>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
      <div class="system-status"></div>
    </div>
  </div>
  <footer>
    <p>Presented By Aroi Intelligence</p>
    <div class="slidecontainer">
      <h3>System status</h3>
      <div class="togglebox">
        <input type="checkbox" class="checkbox" id="toggle-switch">
        <label class="switch" for="toggle-switch">
          <span class="toggle-handle"></span>
        </label>
      </div>
    </div>
  </footer>
  <script src="../static/js/index.js"></script>
</body>

</html>